In [1]:
from faker import Faker     
import numpy as np
import pandas as pd

# Creating fake companies
companies= ['Hershe','Campbull','Costgo','Walsmart','Procter & Deal','Kroft','General Malls','Betty Socker','Chiquota','Nosson Foods','Del Marte','Folders']

fake = Faker() 

def generate_fake_address():
    full_address = fake.address()
    
    # Remove the zip code, state, and city from the address
    parts = full_address.split('\n')
    address_line1 = parts[0]
    address_line2 = '\n'.join(parts[1:])
    
    return address_line1, address_line2

def create_data(x): 
    b_user = {} 
    for i in range(x): 
        b_user[i] = {} 
        b_user[i]['UMI'] = fake.random_int(min=2030000000000, max=2039999999999)
        b_user[i]['Sender Level2'] = fake.random_int(min=4000000000, max=4000999999)
        b_user[i]['Sender Level2 Name'] = fake.random_element(companies)
        b_user[i]['Sender Level1'] = fake.random_int(min=4000000000, max=4000999999)
        b_user[i]['Sender Level1 Name'] = fake.company()
        b_user[i]['Sender'] = fake.random_int(min=4000000000, max=4000999999)
        b_user[i]['Sender Name'] = fake.company()
        b_user[i]['Sender Ext Code'] = fake.random_int(min=4000234512, max=79999999999)
        b_user[i]['Sender GLID City'] = fake.city()
        b_user[i]['Sender Audit Date'] = fake.date_this_year()
        b_user[i]['Sender Channel'] = 'Emitter'
        b_user[i]['Sender_Owner'] = fake.name()
        b_user[i]['Sender Account Executive'] = '-'
        b_user[i]['Mvmt Receiver Name'] = fake.company()
        
        # Generate fake address without zip code, state, or city
        address_line1, _ = generate_fake_address()  # Remove the unused address_line2
        b_user[i]['Mvmt Receiver Address'] = address_line1
        
        state = fake.state()
        city = fake.city()
        zipcode = fake.postcode()
        
        b_user[i]['Mvmt Receiver City'] = city
        b_user[i]['Mvmt Receiver Region'] = state
        b_user[i]['Mvmt Receiver Zipcode'] = zipcode
        
        b_user[i]['DOD'] = fake.date_this_year()
        b_user[i]['Unk_DON'] = fake.date_this_year()
        b_user[i]['Qty'] = fake.random_int(min=1, max=40)
        
        # Generate numbers in the format of "10-20," "30-40," etc. for the age bucket
        lower_bound = fake.random_int(min=1, max=9) * 10
        upper_bound = lower_bound + 10
        b_user[i]['Age Bucket'] = f"{lower_bound}-{upper_bound}"    
        
    return b_user
    
df = pd.DataFrame(create_data(50000)).transpose()
df.head(5)

,UMI,Sender Level2,Sender Level2 Name,Sender Level1,Sender Level1 Name,Sender,Sender Name,Sender Ext Code,Sender GLID City,Sender Audit Date,...,Sender Account Executive,Mvmt Receiver Name,Mvmt Receiver Address,Mvmt Receiver City,Mvmt Receiver Region,Mvmt Receiver Zipcode,DOD,Unk_DON,Qty,Age Bucket
0,2035476170921,4000095649,Chiquota,4000397583,Smith PLC,4000058639,Jones Ltd,57913796002,Jonathanbury,2023-11-15,...,-,"Brennan, Parker and Lyons",429 Stephenson Vista Apt. 296,Glassbury,Maryland,60560,2023-03-20,2023-07-05,13,10-20
1,2036610132543,4000119294,Costgo,4000600685,"Smith, Herrera and Tucker",4000639894,"Miller, Graham and Mitchell",11151134228,Diazmouth,2023-09-06,...,-,Hicks Inc,244 Robert Glens,East Vanessashire,Pennsylvania,67674,2023-08-09,2023-07-26,10,10-20
2,2039136835529,4000892679,Costgo,4000941500,Mclaughlin-Anderson,4000439066,Sparks-Morgan,43384992902,West Markville,2023-08-05,...,-,West-Mcintyre,060 Heather Fields,North Gloria,North Carolina,47700,2023-01-23,2023-07-15,32,40-50
3,2031278452129,4000133976,Kroft,4000521794,Werner LLC,4000311075,Wagner and Sons,35754048059,Marktown,2023-08-18,...,-,Martinez and Sons,21643 Mason Turnpike Apt. 929,Port Kristi,Maine,70080,2023-06-12,2023-09-03,23,70-80
4,2035562224180,4000295658,Kroft,4000253262,Patterson LLC,4000932934,Hernandez-Hodges,60922837179,Browningstad,2023-08-27,...,-,"Crosby, Scott and Holder",441 Johnson Harbor,Marshallport,Tennessee,32120,2023-10-13,2023-03-23,37,50-60

In [2]:
# Save the DataFrame as a CSV file
csv_file_name = 'mock_data.csv'
df.to_csv(csv_file_name, index=False, float_format='%f')  # %f ensures full precision

print(f"CSV file '{csv_file_name}' has been created.")

CSV file 'mock_data.csv' has been created.